<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">net.socialgamer.cah.hibernate.SqliteDialect</property>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:pyx.sqlite</property>
        <property name="hibernate.connection.username">pyx</property>
        <property name="hibernate.connection.password">CorrectHorseBatteryStaple</property>
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>

        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="hibernate.cache.use_query_cache">false</property>

        <property name="show_sql">false</property>
        <property name="format_sql">false</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">10</property>

        <mapping class="net.socialgamer.cah.db.PyxBlackCard"/>
        <mapping class="net.socialgamer.cah.db.PyxWhiteCard"/>
        <mapping class="net.socialgamer.cah.db.PyxCardSet"/>
    </session-factory>
</hibernate-configuration>
