<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">${hibernate.dialect}</property>
        <property name="hibernate.connection.driver_class">${hibernate.driver_class}</property>
        <property name="hibernate.connection.url">${hibernate.url}</property>
        <property name="hibernate.connection.username">${hibernate.username}</property>
        <property name="hibernate.connection.password">${hibernate.password}</property>
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>

        <property name="hibernate.cache.use_second_level_cache">${hibernate.cache.use_second_level_cache}</property>
        <property name="hibernate.cache.provider_class">${hibernate.cache.provider_class}</property>
        <property name="hibernate.cache.use_query_cache">${hibernate.cache.use_query_cache}</property>
        
        <property name="show_sql">${hibernate.sql.show}</property>
        <property name="format_sql">${hibernate.sql.format}</property>
        
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">10</property>

        <mapping class="net.socialgamer.cah.db.PyxBlackCard" />
        <mapping class="net.socialgamer.cah.db.PyxWhiteCard" />
        <mapping class="net.socialgamer.cah.db.PyxCardSet" />
    </session-factory>
</hibernate-configuration>
