#nickbox {
	border: 1px solid black;
	display: inline;
	padding: 5px;
	/*
	text-align: center;
	vertical-align: middle;
	*/
}

#canvass {
	/* */
	display: none;
	/* */
  height: 768px;
	overflow: none;
	position: relative;
  width: 1024px;
  border: 1px solid red;
}

#log {
	width: 50%;
	height: 200px;
	border: 1px solid black;
	position: absolute;
	bottom: 0px;
	right: 0px;
	overflow: auto;
}

span.error {
  color: red;	
}

span.debug {
	color: blue;
}
